.rating {
    display: flex;
    align-items: center;
    @include font-size(18);


    &__label {
        margin: 10px;
        
    }
    
    &__score {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background: $dark;
        border: 3px solid $green;
    }
}

