.movies-list {
    margin-bottom: 30px;
    
    &__title { 
        @include font-size(20)
    }

    .slick-list {
        padding: 40px 0;
    }
}

.movies-list__item {
    position: relative;
    cursor: pointer;
    margin: 2px;
    transition: all .1s ease;

    &:hover {
        transform: scale(1.1);
        z-index: 2;

        .movies-list__action {
            opacity: 1;
        }
    }
}

.movies-list__action {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(black, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all .3s ease;

    i {
        @include font-size(87);
        animation: play-light 1.5s linear infinite;
    }

    h3 {
        @include font-size(23);
        text-align: center;
        margin: 15px 0;
    }
}

@keyframes play-light {
    0% {
        text-shadow: 0 0 20px $primary;
    }
    25% {
        text-shadow: 0 0 60px $primary;
    }
    50% {
        text-shadow: 0 0 100px $primary;
    }
    75% {
        text-shadow: 0 0 60px $primary;
    }
    100% {
        text-shadow: 0 0 20px $primary;
    }
}